<div class="animationdiv">
  <div class="form-container sign-in-container" [@flyInOut]="'in'">
    <form #apiForm="ngForm">
      <div id="home-line-text">Weather Api</div>
      <h1>Sign in</h1>

      <input
        type="text"
        placeholder="User Name"
        name="username"
        id="username"
        required
        maxlength="18"
        minlength="5"
      />

      <input type="text" placeholder="ApiKey" name="key" required />

      <button [class.disabled]="!apiForm.valid" [disabled]="!apiForm.valid">
        Validate
      </button>
    </form>
  </div>
</div>
